################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SportsFunctionsSolution/AzureFunctionsWebApi/Properties/1launchSettings.json1
